.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: relative;
  overflow-y: scroll;
  &.loading {
    overflow: visible;
  }
}

.inputContainer {
  margin-bottom: 25px;
  position: fixed;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 85vw;
}

.input {
  width: 85vw;
}

.list {
  margin-top: 100px;
  height: 90%;
  width: 85vw;
  margin-bottom: 50px;
  li {
    padding: 15px 20px;
    background-color: white;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      cursor: pointer;
    }
  }
  .image {
    height: 50px;
  }
}
