@use '@variables' as variables;

.button {
  margin-right: 20px;
  svg {
    margin-right: 10px;
    margin-top: 2px;
  }
}

.logo {
  height: 500px;
  width: 100%;
  background-image: url('../../public/cereal-club.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.menuBar {
  background-color: #4ed0de;
  padding: 5px 0;
  padding-left: 5px;
  margin-bottom: 20px;
}

.menuButton {
  background: none;
  border: none;
  padding: 4px 6px;
}

@media screen and (max-width: variables.$mobile) {
  .logo {
    height: 200px;
  }
}
