@mixin fontPrimary {
  font-family: 'Inter Regular';
  text-transform: uppercase;
}

@mixin fontPrimaryLight {
  font-family: 'Inter Light';
  letter-spacing: 0.5px;
}

@mixin fontPrimaryMedium {
  font-family: 'Inter Medium';
  letter-spacing: 0.5px;
}

@mixin fontPrimaryBold {
  font-family: 'Inter Bold';
  letter-spacing: 0.5px;
}
