// Colors
$white: #fff;
$grey: #1f1f1f;
$lightGrey: #929292;
$charcoal: #2f2f2f;
$black: #191919;
$blue: #77a7e3;

$primaryColor: $charcoal;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;

// Other
$borderRadius: 10px;
